.container {
  margin: 0 300px;
}

.panel {
  margin-top: 50px;
}

.on1 {
  background-color: green;
}

.off1 {
  display: none;
  background-color: darkred;
}

#turn-on1 {
  display: none;
}

.on2 {
  background-color: green;
}

.off2 {
  display: none;
  background-color: darkred;
}

#turn-on2 {
  display: none;
}

.controls {
  display: none;
}
